{% extends 'Immo/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        <!-- cross side ref security, secu suupp deployé par django-->


        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {% csrf_token %}
            <!--{{ form|crispy }}-->
            {{ form.Media }}
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock content %}